.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.homepageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". apex . ."". fortnite  ."". . . .";
}

.apex {
  grid-area: apex;
}

.profileInformation{
  padding: 5em;
}

.profileContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.fortniteFriends{
  grid-column: 2;
  grid-row: 1;
  padding: 5em;
}

.welcomeText{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.welcomeButton{
  position: absolute;
  top: 100%;
  left: 50%;
  color: yellow;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  
}

.fortnitePage{
  padding: 2em;
}

#searchBar{
 position: absolute;
 top: 30%;
 left: 25%;
 text-align: center;
 width: 50%;

  
}

.loginPage{
  position: relative;
  top: 50px;
  
  left: 45%;
  background-color: #eeeeee;
}

.registrationPage{
  position: relative;
  top: 20px;
  left: 45%;
}
.searchButton{
  position: absolute;
  left:76%;
  top: 30%;
}
.profileName{
  text-align: center;
}
body{
  background-color: #eeeeee;
  color: #6C6C6C;
}
.searchContainer{
  /* border: #282c34 solid; */
  
}
.resultsContainer{
  position: absolute;
  top: 40%;
  left: 45%
}

.fortnitePage h1{
  text-align: center;
}

.competitionTag{
  text-align: center;
}
.bg {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .saveStatsBtn{
    position: relative;
    left: 45%;
    /* top: 50%; */

  
  }

  